
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;     
  background-color: #e3d9f5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.weather {
  width: 300px;
  height: 450px;
  padding: 30px 20px;
  border-radius: 20px;
  background-image: linear-gradient(45deg, #2f4680, #500ae4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
 
}



.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  width: 100%;
  max-width: 220px;
}
.search-bar input {
  width: 200px; 
  height: 40px;
  border: none;
  outline: none;
  border-radius: 40px;
  padding-left: 20px;
  color: #626262;
  background: #ebfffc;
  font-size: 16px;
}

.search-bar img {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 50%;
  background: #ebfffc;
  cursor: pointer;
}


.weather-icon {
  width: 80px;
  margin: 10px 0;
}


.temperature {
  color: #fff;
  font-size: 50px;
  margin: 0;
}

.location {
  color: #fff;
  font-size: 28px;
  margin: 5px 0 0 0;
}


.weather-data {
  width: 100%;
  margin-top: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.weather-data .col {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  font-size: 16px;
}

.weather-data .col span {
  display: block;
  font-size: 14px;
}

.weather-data .col img {
  width: 24px;
  margin-top: 4px;
}
